.nav-bar{
    background-color: #4c54a7;
    position:fixed;
    left:0;
    top:0;
    min-width: 1180px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    z-index: 1;
}

.nav-bar .nav-link{
    color:rgb(176, 171, 214);
    font-size:20px;
    text-decoration: none;    
    padding-right:20px;
    padding-left: 15px;
    user-select: none;
}
.nav-bar .nav-link:hover{
    color:white;
    background-color: rgb(117, 110, 172);;
    text-decoration:underline;
}

.sub-menu1{
    display: none;
}
.nav-bar .open-menu:hover .sub-menu1{
   display: block;
   position: absolute;
   padding-left: -15px;
   padding-top:10px;
   padding-right: -15px;
   background-color: #4c54a7;
   z-index: 1;
}

.container{
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
    background-size:100% 100%;

    min-width: 1180px;

    width: 100%;
    position:absolute;
    left:0px;
    z-index: 0;

}

#welcome{
    background-image:url("../Image&assets/Background/Home_background.jpg");
    background-color:black;
    height: 100vh;

    display: flex;
    align-items: center;
}

#location{
    background-image:  url("../Image&assets/Background/Location_background.jpg");
    background-color:#0a2536;
    height: 764px;
    display:grid;
    grid-template-columns: 15% 18% 18% 18% auto;
    grid-template-rows: 15% 55% 30%;
    grid-column-gap:5%;
}

.loc{
    position: relative;
    color:rgb(45, 45, 48);
    text-align: center;
    border-style: solid;
    border-color: red;
}

#film{
    background-image:url("../Image&assets/Background/Film_background.jpg");
    height: 40vw;
    min-height: 480px;
}

#film-container{
    color:#e3e2ee;
    margin:30px 30px 30px 30px;
    height: 40vw;
    min-height: 480px;
}
#film-container div a button{
    color:rgb(23, 23, 24);
    text-decoration: none;  
    user-select: none;
    font-size:24px;
}
#food{
    background-image: url("../Image&assets/Background/Food_background\(color\).jpg");
    height:800px;
    display: grid;
    grid-template-columns: 10% 40% 40% 10%;
    grid-template-rows: 45% 45% 10%;
}

#food div{
    margin-top:25px;
    color:whitesmoke;
    text-align: center;
}

#food #item5{
    grid-column:2/4;
}

#feedback{
    background-color: #0e3965;
    color:white;
    height: 800px;

}

#feedback #form{
    width:600px;
    margin-left:auto;
    margin-right:auto;
}

#feedback h3{
    margin:0 0 0 0;
}

#form img{
    width: 60px;
    padding:10px 10px 10px 10px;
    margin-left: -5px;
}

#feedback #comment{
    width:580px;
    height:200px;
    border-radius: 10px;
}

#feedback #submit-btn{
    width:588px;
    height:30px;
    border-radius: 8px;
    font-weight: bold;
}

#footer{
    background-color:#1d1d1d;
    color:white;

    display: grid;
    grid-template-columns:200px calc(calc(100% - 200px) / 3) calc(calc(100% - 200px) / 3) calc(calc(100% - 200px) / 3);
}

#footer #item4{
    grid-row:2/4;
}

button {
    border: 1px solid transparent;
    padding: .375rem .75rem;
    border-radius: 0.25rem;
}

#login-page{
    min-height: calc(100vh - 168px);
    background-color:rgb(176, 171, 214);
}

#login-page #photo-profile{
    border-style: solid;
    margin-top:100px; 
    width: 150px;
    height: 150px;
    position: relative;
    left:calc(50% - 75px);
}

#icon{
    height:30px;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(0, 0, 0, 0.486);
    margin-bottom:-12px;
    margin-right:-4px;
}

#add-info-page{
    min-height: calc(100vh - 168px);
    background-image: url("../Image&assets/Background/Add_info_background.jpg");
    background-size:auto;
    background-position:bottom;
    opacity: 0.8;
}

#add-info-page #text{
    margin-top: 100px;
    position: relative;
    left: calc(50% - 350px);
    width: 700px;
    font-size:24px;
    background-color: rgb(219, 237, 247,0.6);
}

#register-page{
    min-height: calc(100vh - 208px);
    background-color:rgb(176, 171, 214);
    text-align: center;
    padding-top:40px;
}

#food-page{
    margin-top:40px;
    min-height: calc(100vh - 168px);
    display: grid;
    grid-template-columns: 40% 60% ;
    grid-template-rows: 60px 380px 400px;
    text-align: center;
    background-image:url("../Image&assets/Background/Food_background\(color\).jpg");
    color:whitesmoke;
}

#film-page{
    min-height: calc(100vh - 168px);
}
/*

.animation{
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0;
    position:fixed;
    top:0px;
    left:0px;
    z-index: 3;
    transition: 0.2s ease-out;
    pointer-events: none;
}
.animation.active{
    opacity: 1;
    pointer-events: all;
}

*/